Repository INSRapperswil/nornir-web: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, test_frontend

.gitlab-ci.yml:

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - $CI_PROJECT_DIR/backend/venv/
    - $CI_PROJECT_DIR/frontend/node_modules/
    - $CI_PROJECT_DIR/frontend/build/
    - $CI_PROJECT_DIR/frontend/.yarn

stages:
  - test
  - deploy

# Backend CI/CD
test_backend:
  image: python:latest
  stage: test
  variables:
    DB_CONNECTION_STRING: "sqlite:///db.sqlite3"
  before_script:
    - cd backend
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script:
    - python manage.py migrate
    - python manage.py create_groups
    - python manage.py create_testdb
    - pytest -vv
  rules:
    - changes:
        - backend/*

deploy_backend:
  image: python:latest
  stage: deploy
  only:
    - master
  before_script:
    - cd backend
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script:
    - python manage.py collectstatic
    # TODO: Copy to server
    # - daphne backend.asgi:application -b 0.0.0.0

# Frontend CI/CD
test_frontend:
  image: node:lts
  stage: test
  before_script:
    - cd frontend
    - yarn install
  script:
    - yarn lint
    - yarn test
  rules:
    - changes:
        - frontend/*

deploy_frontend:
  image: node:lts
  stage: deploy
  only:
    - master
  before_script:
    - cd frontend
    - yarn install
  script:
    - yarn build
    # TODO: Copy to server
    # - serve -s build -l 80

fix date scheduling
  backend/api/views.py
  frontend/.gitignore
  frontend/src/App.js
  frontend/src/components/TaskWizard.js
  frontend/src/components/VariableSetter.js
  frontend/src/pages/Prototype.js
  frontend/src/redux/actions.js
Due: test_frontend

Resolve "Coverage CI"
  .gitlab-ci.yml
  README.md
  backend/.coveragerc
Due: test_backend

Resolve "Filtering für Inventory als API Endpoint"
  backend/api/models.py
  backend/api/views.py
  backend/web_nornir/nornir_config/inslab_config/groups.yaml
  backend/web_nornir/nornir_config/test_config/groups.yaml
  backend/web_nornir/nornir_config/test_config/hosts.yaml
  backend/web_nornir/nornir_handler.py
  backend/web_nornir/tests/test_nornirhandler.py
  backend/web_nornir/tests/tests.py
Due: none

add search, filter, and ordering
  backend/api/views.py
  backend/backend/settings.py
  backend/requirements.txt
Due: test_backend

filtering, sorting & search of django classes
  backend/api/views.py
  backend/backend/settings.py
  backend/requirements.txt
  frontend/.gitignore
Due: test_backend, test_frontend

InventorySelector and introduce inventory state
  frontend/package-lock.json
  frontend/src/api.js
  frontend/src/components/InventorySelector.js
  frontend/src/pages/Inventory.js
  frontend/src/redux/actions.js
  frontend/src/redux/reducers.js
  frontend/yarn.lock
Due: test_frontend

fix test
  backend/api/tests/expected_data.py
Due: none

load new inventory on selection change
  backend/api/views.py
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/InventorySelector.js
  frontend/src/pages/Inventory.js
  frontend/src/redux/actions.js
  frontend/src/redux/reducers.js
Due: none

Add ConfigurationForm, load with data
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/api.js
  frontend/src/components/ConfigurationForm.js
  frontend/src/pages/Configuration.js
Due: none

search
  frontend/src/api.js
  frontend/src/components/TasksTable.js
Due: none

filter dialog component frontend
  frontend/src/api.js
  frontend/src/components/FilterDialog.js
  frontend/src/components/TasksTable.js
  frontend/yarn.lock
Due: test_frontend

filtering job templates and task table
  backend/api/views.py
  frontend/src/api.js
  frontend/src/components/FilterDialog.js
  frontend/src/components/FinishTask.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TasksTable.js
Due: none

search job templates
  backend/api/views.py
  frontend/src/api.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TasksTable.js
Due: none

filtering inventory backend
  backend/api/views.py
  backend/web_nornir/nornir_handler.py
Due: none

Inventory Filter Frontend
  backend/api/views.py
  frontend/src/api.js
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TasksTable.js
Due: none

Inventory Hosts search
  backend/api/models.py
  backend/api/views.py
  backend/web_nornir/nornir_handler.py
  frontend/src/api.js
  frontend/src/components/InventorySelectionTable.js
Due: none

styles
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TasksTable.js
Due: none

return and access id directly instead of .inventory
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/InventorySelector.js
  frontend/src/redux/reducers.js
Due: none

testing
  backend/api/tests/expected_data.py
  backend/api/tests/test_task.py
  backend/web_nornir/nornir_config/test_config/hosts.yaml
  backend/web_nornir/nornir_handler.py
  backend/web_nornir/tests/test_nornirhandler.py
Due: none

filter badge und clear filter
  frontend/src/components/FilterDialog.js
  frontend/src/components/TasksTable.js
Due: none

remove clear button
  frontend/src/components/FilterDialog.js
Due: none

Update expected_data.py
  backend/api/tests/expected_data.py
Due: none

state for each property
  frontend/src/api.js
  frontend/src/components/ConfigurationForm.js
Due: none

update configuration working
  frontend/src/components/ConfigurationForm.js
Due: none

update README
  backend/README.md
Due: test_backend

permission test
  backend/.coveragerc
  backend/api/tests/test_admin.py
  backend/api/tests/test_permissions.py
  backend/api/views.py
  backend/backend/settings.py
Due: test_backend

admin test
  backend/api/tests/test_admin.py
Due: none

admin test working
  backend/api/tests/test_admin.py
Due: none

ordering frontend of task table and job templates
  backend/api/inventory_helpers.py
  backend/api/management/commands/create_testdb.py
  backend/api/pagination.py
  backend/api/tests/expected_data.py
  backend/api/tests/test_inventory_helpers.py
  backend/api/tests/test_pagination.py
  backend/api/views.py
  backend/web_nornir/job_templates/get_cdp_neighbors.py
  frontend/src/api.js
  frontend/src/components/EnhancedTable.js
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TasksTable.js
  frontend/src/helperFunctions.js
Due: none

design improvements
  backend/web_nornir/job_templates/hello_world.py
  backend/web_nornir/job_templates/say.py
  frontend/src/components/EnhancedTable.js
  frontend/src/components/InventorySelectionTable.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TaskDetail.js
  frontend/src/components/TaskWizard.js
  frontend/src/components/TasksTable.js
  frontend/src/pages/Inventory.js
  frontend/src/pages/JobTemplates.js
Due: none

minor fix
  frontend/src/components/InventorySelectionTable.js
Due: none

disable refresh button if loading
  frontend/src/components/TaskDetail.js
  frontend/src/components/TasksTable.js
Due: none

fix result
  backend/web_nornir/job_templates/hello_world.py
  backend/web_nornir/job_templates/say.py
Due: none

change to filterset
  backend/api/views.py
Due: none

fix time input default value
  frontend/src/components/VariableSetter.js
Due: none

run on selection badge
  frontend/src/pages/Inventory.js
Due: none

Service files for server
  backend/celeryworker.service
  backend/daphne.service
Due: test_backend

Resolve "Frontend Details"
  backend/api/serializers.py
  backend/api/tests/expected_data.py
  frontend/src/components/DetailTable.js
  frontend/src/components/InventoryHostDetail.js
  frontend/src/components/JobTemplateDetail.js
  frontend/src/components/JobTemplatesSelectionTable.js
  frontend/src/components/TaskDetail.js
  frontend/src/components/TasksTable.js
  frontend/src/helperFunctions.js
Due: none

rerun task
  frontend/src/components/TaskWizard.js
  frontend/src/components/TasksTable.js
  frontend/src/pages/TaskWizardPage.js
Due: none
