Repository INSRapperswil/nornir-web: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend, trigger_backend

.gitlab-ci.yml:

stages:
  - triggers

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/gitlab-ci.yml
  rules:
    - changes:
      - frontend/*

trigger_backend:
  stage: triggers
  trigger:
    include: backend/gitlab-ci.yml
  rules:
    - changes:
      - backend/*

add filter to task execution
  backend/web_nornir/nornir_handler.py
Due: none

revert accidental name change
  backend/backend/settings.py
Due: none

document the template in the readme
  backend/README.md
Due: trigger_backend

create config subfolder
  backend/web_nornir/nornir_config/config.yaml
  backend/web_nornir/nornir_config/example_config/config.yaml
  backend/web_nornir/nornir_config/example_config/defaults.yaml
  backend/web_nornir/nornir_config/example_config/groups.yaml
  backend/web_nornir/nornir_config/example_config/hosts.yaml
  backend/web_nornir/nornir_handler.py
Due: none

add host and group list view to inventory
  backend/.gitignore
  backend/api/models.py
  backend/api/views.py
  backend/web_nornir/nornir_config/example_config/config.yaml
  backend/web_nornir/nornir_config/example_config/hosts.yaml
  backend/web_nornir/nornir_handler.py
Due: trigger_backend

ci for backend
  backend/.gitlab-ci.yml
Due: trigger_backend

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: trigger_backend

update ci
  backend/.gitlab-ci.yml
Due: trigger_backend

one more ci test
  .gitlab-ci.yml
Due: none

ci test
  .gitlab-ci.yml
Due: none

rollback ci, this is all shit... :(
  .gitlab-ci.yml
Due: none

ci test
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: trigger_backend

last ci test, then i'm going to shoot this to the moon
  backend/.gitlab-ci.yml
  backend/nornir_sandkasten.py
  frontend/.gitlab-ci.yml
Due: trigger_frontend, trigger_backend

This reverts commit 158832433ae8272edeee507a8d556aa786b8eb98.
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_frontend, trigger_backend

revert to beginning
  .gitlab-ci.yml
Due: none

ci test
  backend/.gitlab-ci.yml
Due: trigger_backend

fix syntax
  backend/.gitlab-ci.yml
Due: trigger_backend

use sqlite db in gitlab pipeline
  backend/.gitlab-ci.yml
  backend/backend/settings.py
  backend/requirements.txt
Due: trigger_backend

unötiges "debug" entfernen
  backend/.gitlab-ci.yml
Due: trigger_backend

naming
  frontend/src/App.js
Due: none

Update create_groups.py
  backend/api/management/commands/create_groups.py
Due: none

Add type to inventory model
  backend/api/migrations/0004_inventory_type.py
  backend/api/models.py
Due: none

nornir_handler returns full host information
  backend/nornir_sandkasten.py
  backend/web_nornir/nornir_handler.py
Due: trigger_backend

fix inventory serializer
  backend/api/serializers.py
Due: none

small changes in get_hosts
  backend/web_nornir/nornir_handler.py
Due: none

change name to test_backend to avoid confusion
  backend/.gitlab-ci.yml
Due: trigger_backend

set permissions to group
  backend/api/management/commands/create_groups.py
Due: none

communication frontend backend
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
  backend/backend/settings.py
  backend/requirements.txt
  frontend/src/api.js
  frontend/src/pages/Prototype.js
Due: trigger_backend

first tests
  backend/api/tests.py
  backend/api/tests/test_urls.py
  backend/backend/settings.py
  backend/pytest.ini
  backend/requirements.txt
Due: trigger_backend

use pytest instead of django tests
  backend/.gitlab-ci.yml
Due: trigger_backend

Setup script for testdb, test template for web_nornir
  backend/.gitlab-ci.yml
  backend/api/management/commands/testdb_setup.py
  backend/web_nornir/tests/tests.py
Due: trigger_backend

finalize testdb_setup
  backend/api/management/commands/testdb_setup.py
Due: none
