Repository INSRapperswil/nornir-web: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend, trigger_backend

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/gitlab-ci.yml

trigger_backend:
  stage: triggers
  trigger:
    include: backend/gitlab-ci.yml

fix linting error
  frontend/src/index.js
Due: none

update ci config
  backend/.gitlab-ci.yml
Due: trigger_backend

initial setup for backend project #11
  backend/.gitignore
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
  backend/nornuir/__init__.py
  backend/nornuir/admin.py
  backend/nornuir/apps.py
  backend/nornuir/migrations/__init__.py
  backend/nornuir/models.py
  backend/nornuir/serializers.py
  backend/nornuir/tests.py
  backend/nornuir/urls.py
  backend/nornuir/views.py
Due: trigger_backend

Setup DB connection to postgres
  backend/backend/settings.py
  backend/nornuir/migrations/0001_initial.py
  backend/nornuir/models.py
  backend/nornuir/serializers.py
  backend/requirements.txt
Due: trigger_backend

update README.md
  backend/README.md
Due: trigger_backend

Remove TODO
  backend/backend/settings.py
Due: none

setup basic permissions for api auth with token
  backend/README.md
  backend/backend/settings.py
  backend/backend/urls.py
  backend/nornuir/permissions.py
  backend/nornuir/views.py
  backend/requirements.txt
Due: trigger_backend

app component and navbar
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/actions.js
  frontend/src/api.js
  frontend/src/components/TabUtil.js
  frontend/src/components/Task.js
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reducers.js
Due: none

refactor navigation
  frontend/src/App.js
  frontend/src/components/NavTabs.js
  frontend/src/components/TabUtil.js
  frontend/src/components/TaskList.js
  frontend/src/pages/Inventory.js
  frontend/src/pages/Tasks.js
Due: none

update readme, installation
  frontend/README.md
Due: trigger_frontend

add task structure in the frontend
  frontend/src/components/Task.js
  frontend/src/index.js
  frontend/src/pages/TaskList.js
  frontend/src/redux/actions.js
  frontend/src/redux/reducers.js
Due: none

update frontend readme
  frontend/README.md
Due: trigger_frontend

default route frontend
  frontend/src/App.js
Due: none

fix requirements
  backend/requirements.txt
Due: trigger_backend

use django auth models, create_groups to create user roles
  backend/README.md
  backend/backend/settings.py
  backend/nornuir/management/commands/create_groups.py
  backend/nornuir/migrations/0002_auto_20201002_1508.py
  backend/nornuir/models.py
  backend/nornuir/urls.py
  backend/nornuir/views.py
Due: trigger_backend

setup openapi and swagger-ui
  backend/backend/urls.py
  backend/requirements.txt
  backend/templates/swagger-ui.html
Due: trigger_backend

update the readme with swagger url
  backend/README.md
Due: trigger_backend

add uritemplate to requirements.txt
  backend/requirements.txt
Due: trigger_backend

better naming of django app
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/management/commands/create_groups.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_auto_20201002_1508.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/permissions.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: none

change pages
  frontend/src/App.js
  frontend/src/api.js
  frontend/src/pages/Inventory.js
  frontend/src/pages/JobTemplates.js
  frontend/src/pages/Prototype.js
Due: none

fix merge error
  frontend/src/api.js
Due: none

remove react logos
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
Due: none

rename page
  frontend/src/App.js
  frontend/src/pages/TaskDashboard.js
Due: none

create models, create initial migrations
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_auto_20201002_1508.py
  backend/api/models.py
Due: none

Make models manageable with Django Admin
  backend/api/admin.py
  backend/templates/admin/base_site.html
Due: none

correct renaming
  backend/api/apps.py
Due: none

add state aborted to status enum
  backend/api/models.py
Due: none

update migrations
  backend/api/migrations/0002_auto_20201005_1315.py
Due: none

first API implementation
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Due: none

create template task connection
  backend/api/models.py
Due: none

Add detail link to list views
  backend/api/serializers.py
  backend/api/urls.py
  backend/backend/urls.py
Due: none

table - template connection
  backend/api/migrations/0003_task_template.py
Due: none

setup nornir and job structure
  backend/backend/settings.py
  backend/requirements.txt
  backend/web_nornir/__init__.py
  backend/web_nornir/job_discovery.py
  backend/web_nornir/job_templates/__init__.py
  backend/web_nornir/job_templates/hello_world_job.py
  backend/web_nornir/job_templates/say_job.py
  backend/web_nornir/nornir_config/config.yaml
  backend/web_nornir/nornir_config/defaults.yaml
  backend/web_nornir/nornir_config/groups.yaml
  backend/web_nornir/nornir_config/hosts.yaml
  backend/web_nornir/nornir_handler.py
Due: trigger_backend

Path conditions:
  trigger_frontend: any of: frontend/*
  trigger_backend: any of: backend/*
